body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container{
  margin: auto;
  text-align: center;
  max-width: 800px;
  border: 3px solid #61dafb;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 25px;
}

.inner-shadow{
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.header-container{
  background-color: #F0F8FF;
  padding-top: 8px;
  padding-bottom: 3px;
}

.result-item-select{
  color: green;
  font-weight: bold;
  background-color: #E5F9D8;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  border: 2px solid green;
  position: relative;
}
.topright {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 18px;
  background-color: #feb236;
  color: white;
  border-radius:  50px 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.result-item{
  background-color: #F0F8FF;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  border: 1px solid #61dafb;
}
.bold-purple{
  color: #007bff;
  font-weight: bold;
}
.select-avatar{
  width: 2.2em;
  padding-right: 5px;
  margin-right: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}
.pills-container{
  width: 75%;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}


.question-header {
  grid-area: header;
  background-color: #F0F8FF;
  padding: 10px;
  text-align: left;
}

.question-avatar {
  grid-area: avatar;
  background-color: white;
  padding-top: 20%;
  padding-bottom: 20%

}
.score-container {
  grid-area: score;
  background-color: white;
}
.score{
  color: #007bff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 70%;
  height: 90%;
  display: grid;
  grid-template-areas:
    'header'
    'score-circle';
    border: 1px solid #61dafb;
  text-align: center;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.score-header {
  grid-area: header;
  background-color: #F0F8FF;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 15px;
  height: 90%;
}

.circle {
  grid-area: score-circle;
  height: 75px;
  width: 75px;
  background-color: #007bff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 30px;
  padding-top: 15px;
}
.avatar{
  width: 5em;
  padding: 5px;
}
.question-main {
  grid-area: main;
  background-color: white;
  padding: 10px;
  text-align: left;
}

.question-button {
  grid-area: button;
  background-color: white;
  padding: 10px;
}

.question-item-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'avatar main main main main'
    'avatar button button button button';
  grid-gap: 1px;
  background-color: #61dafb;
  padding: 1px;
  margin: 10px;
}

.results-item-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'avatar main main main main';
  grid-gap: 1px;
  background-color: #61dafb;
  padding: 1px;
  margin: 10px;
}

.score-item-container {
  display: grid;
  grid-template-areas:
    'avatar header header score'
    'avatar main main score'
    'avatar main main score';
  grid-gap: 1px;
  background-color: #007bff;
  padding: 1px;
  margin: auto;
  margin-bottom: 15px;
  width: 80%;
  font-weight: bold;
  font-size: 20px;
}

.newquestion-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'button';
  grid-gap: 1px;
  background-color: #61dafb;
  padding: 1px;
  width: 65%;
  margin: auto;
  text-align: center;
}

.active {
  font-weight: bold;
  border-left: 1px solid #007bff;
  border-top: 1px solid #007bff;
  border-right: 1px solid #007bff;
  padding: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  list-style-type: none;
}

.nav li:first-child {
  padding-left: 20px;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*=========RADIO BUTTON Syle=========== */
/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #007bff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*=========RADIO BUTTON Syle=========== */
hr {
    border: none;
    border-top: 3px double #ccc;
    color: #007bff;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 65%;
}

hr:after {
    background: #fff;
    content: 'OR';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.not-allowed {
  cursor: not-allowed;
}
/*=========== Nav Bar====================*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #007bff;
}

li {
  float: left;
  height: 2.8em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4da3ff;
  text-decoration: none;
}
.float-right{
  float: right;
}
.active {
  background-color: #4da3ff;
  height: 2.8em;
}
.nav-bar{
  padding-bottom: 20px;
}
.user{
  display: block;
  text-align: center;
  padding: 10px 16px;
  background-color: #007bff;
  margin-left: .5em;
  color: white;
  font-weight: bold;
}

.user-avatar{
  width: 2.2em;
  padding: 7px;
  margin-left: .5em;
}
