body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container{
  margin: auto;
  text-align: center;
  width: 90%;
  border: 3px solid #61dafb;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 25px;
}

.inner-shadow{
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.header-container{
  background-color: #F0F8FF;
  padding-top: 8px;
  padding-bottom: 3px;
}

.bold-purple{
  color: #007bff;
  font-weight: bold;
}
.select-avatar{
  width: 45px;
  padding-right: 5px;
  margin-right: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}
.pills-container{
  width: 75%;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}


.question-header {
  grid-area: header;
  background-color: #F0F8FF;
  padding: 10px;
  text-align: left;
}

.question-avatar {
  grid-area: avatar;
  background-color: white;
  padding-top: 20%;
  padding-bottom: 20%

}
.avatar{
  width: 100px;
  padding: 5px;
}
.question-main {
  grid-area: main;
  background-color: white;
  padding: 10px;
  text-align: left;
}

.question-button {
  grid-area: button;
  background-color: white;
  padding: 10px;
}

.question-item-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'avatar main main main main'
    'avatar button button button button';
  grid-gap: 1px;
  background-color: #61dafb;
  padding: 1px;
  margin: 10px;
}

.active {
  font-weight: bold;
  border-left: 1px solid #007bff;
  border-top: 1px solid #007bff;
  border-right: 1px solid #007bff;
  padding: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 20px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
